<mat-toolbar color="primary" class="header">
  <img src="assets/Logo.png" alt="logo-image">
  <h1 class="title-page">AromaPropio</h1>
  <div class="mat-spacer"></div>

  <ul class="nav-list">
    <li class="nav-item"><a mat-button class="routes-page color" [routerLink]="'/home'">Home</a></li>
    <li class="nav-item"><a mat-button class="routes-page color" [routerLink]="'/perfume-customizer'">Servicio</a></li>

    <!--<li class="nav-item">
      <app-authentication-section></app-authentication-section>
    </li>
    <li class="nav-item">
      <a mat-button class="routes-pages" [routerLink]="'/profile'">{{ currentProfile?.firstName }}</a>
    </li>
    <ng-container *ngIf="isSignedIn">
      <li class="nav-item">
        <a mat-button class="routes-pages" [routerLink]="'/profile'">{{ currentProfile?.firstName }}</a>
      </li>
    </ng-container> -->
  </ul>
</mat-toolbar>
<app-home></app-home>

<router-outlet></router-outlet>
<app-footer-content></app-footer-content>
